{% extends 'markdown/index.md.j2' %}



{% block input %}
{%- if cell.source  -%}
```
{%- if 'magics_language' in cell.metadata  -%}
    {{ cell.metadata.magics_language}} 
{%- elif 'language' in nb.metadata.get("kernelspec", {}) -%}
    {{ nb.metadata.kernelspec.language }}
{%- endif %}
{%- if 'title' in cell.metadata -%}
    {{ ' ' }}title="{{ cell.metadata.title }}"

{%- endif %}
{{ cell.source}}
```
{%- endif %}
{% endblock input %}

{%- block traceback_line -%}
<CodeOutputBlock>
{{ line.rstrip() | strip_ansi }}
</CodeOutputBlock>
{%- endblock traceback_line -%}

{%- block stream -%}
<CodeOutputBlock>
```
{{ output.text.rstrip() }}
```
</CodeOutputBlock>
{%- endblock stream -%}

{%- block data_text scoped -%}
<CodeOutputBlock>
```
{{ output.data['text/plain'].rstrip() }}
```
</CodeOutputBlock>
{%- endblock data_text -%}

{%- block data_html scoped -%}
<HTMLOutputBlock>
```
{{ output.data['text/html'] | safe  }} 
```
</HTMLOutputBlock>
{%- endblock data_html -%}

{%- block data_jpg scoped -%}
<CodeOutputImageBlock>
![]({{ output.data['image/jpg'] }})
</CodeOutputImageBlock>
{%- endblock data_jpg -%}

{%- block data_png scoped -%}
<CodeOutputImageBlock>
![]({{ output.data['image/png'] }})
</CodeOutputImageBlock>
{%- endblock data_png -%}

{%- block data_svg scoped -%}
<CodeOutputImageBlock class="svg">
![]({{ output.data['image/svg+xml'] }})
</CodeOutputImageBlock>
{%- endblock data_svg -%}
